<title><%= "Регистрация | SimplyBlog" %></title>

<div class="row">
  <div class="col-md-3 col-sm-3"></div>
  <div class="col-md-6 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-body">

        <h2>Регистрация нового пользователя</h2>
        <hr>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-9">

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">
                <%= f.input :name, required: true, autofocus: true, label: 'Ваше имя' %>
                <%= f.input :email, required: true %>
                <%= f.input :password, label: 'Пароль', required: true, hint: ("#{@minimum_password_length} исмволов минимум" if @minimum_password_length) %>
                <%= f.input :password_confirmation, label: 'Подтверждение пароля', required: true %>
                <%= f.input :photo, label: 'Ссылка на фото' %>
              </div>

              <br>
              <div class="form-actions">
                <%= f.button :submit, "Продолжить", class: 'btn btn-success', style: 'float: right;' %>
              </div>
            <% end %>

          </div>
          <div class="col-md-3"></div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-3 col-sm-3"></div>
</div>