<ol class="breadcrumb">
  <li><a href="/">SimpleBlog</a></li>
  <li><a href="/admins/index">Админ-панель</a></li>
  <li class="active">История</li>
</ol>


<div class="panel panel-default">
  <div class="panel-heading"> Вся зарегистрированная активность в админ-панели | <b><%= History.all.count %></b> записей всего |<%= link_to "Очистить", history_clear_path, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Желаете удалить всю историю активности?" } %></div>
  <div class="panel-body">


		<table class="table table-striped">
		  <tr>
			  <th >№</th>
			  <th >Пользователь:</th>
			  <th >Страница</th>
			  <th >Зарегистрирован:</th>
			</tr>
				<tr>
		<% @history.each do |h| %>
				<tr>
				  <td><%= h.id %></td>
				  <td><%= User.find(h.user_id).email %></td>
				  <td><%= h.action %></td>
				  <td><%= h.created_at.strftime("%d.%m.%Y в %H:%M:%S") %></td>
		<% end %>
				</tr>
		</table>


	</div>
</div>
