<p id="notice", style='text-align: center; color: green;'><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading"><h4><b>Вас приветствует Админ-панель</b></h4></div>
  <div class="panel-body">
    Добро пожаловать в систему управления блогом
    В боковом меню представлены разделы, в которых собрана 
    вся информация про составляющие сайта.

    Так же с этих разделов доступно управление контентом
  </div>
  <div class="panel-footer"> 

    <div class="row">
      <div class="col-md-4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Администратор</div>
      <div class="col-md-1"></div>
    </div>

  </div>

</div>


<% Warning.all.each do |w| %>
  
  <% if w.public %>
    <div class="panel panel-danger">
  <% else %>
    <div class="panel panel-info">
  <% end %>

      <div class="panel-heading">
        <div class="row">
          <div class="col-md-9">
            <h3 class="panel-title"><b><%= w.title %></b></h3>
          </div>
          <div class="col-md-3">
              <span class="label label-danger">Администрация</span>
          </div>
        </div>
      </div>

      <div class="panel-body"><%= w.content %></div>

      <div class="panel-footer">
        <div class="row">

          <div class="col-md-9">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= w.created_at.strftime("%d.%m.%Y в %H:%M:%S") %></p>
          </div>

          <div class="col-md-3">
            <% if user_signed_in? && current_user.admin %>

              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия &nbsp<span class="caret"></span>  </button>
              <ul class="dropdown-menu">
                <li><%= link_to 'Новое', new_warning_path %></li>
                <li><%= link_to 'Изменить', edit_warning_path(w) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Удалить обьявление", warning_path(w), method: :delete, data: { confirm: "Вы уверены?" }, class: "text-warning" %></li>
                <li><%= link_to "Сделать публичным/Скрыть", set_public_warning_path(w), method: :put, data: { confirm: "Данное предупреждение будет публично размещено на сайте. Продолжить?" }, class: "text-warning" %></li>
              </ul>
            <% end %>
          </div>

        </div>
      </div>
  </div>
<% end %>