<ol class="breadcrumb">
  <li><a href="/">SimpleBlog</a></li>
  <li><a href="/admins/index">Админ-панель</a></li>
  <li class="active">Пользователи</li>
</ol>


<div class="panel panel-default">
  <div class="panel-heading"> Все зарегистрированные пользователи</div>
  <div class="panel-body">


		<table class="table table-striped">
		  <tr>
			  <th >id</th>
			  <th >Email</th>
			  <th >Входов</th>
			  <th >Зарегистрирован</th>
			  <th >Был в сети</th>
			</tr>
				<tr>
		<% @users.each do |u| %>
				<tr>
				  <td><%= u.id %></td>
				  <td><%= u.email %></td>
				  <td><%= u.sign_in_count %></td>
				  <td><%= u.created_at.strftime("%d.%m.%Y в %H:%M:%S") %></td>
				  <td><%= u.last_sign_in_at.strftime("%d.%m.%Y в %H:%M:%S") %></td>
		<% end %>
				</tr>
		</table>


	</div>
</div>
