<div class="modal fade" id="newpost_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalPostCreate">Создание новой записи</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @new_post do |f| %>

          <div class="field" >
            <h3>Заголовок</h3>
            <%= f.input :title, label: false, class: "form-control", placeholder: "Заголовок" %>
          </div>

          <div class="field">
            <h3>Сообщение</h3>
            <%= f.input :content, as: :text, label: false, class: "form-control", placeholder: "Сообщение..." %>
          </div>
          <div class="field">
            <%= f.input :category_id, collection: current_user.categories, label: 'Выберите категорию', class: "form-control" %>
          </div>
          <div class="field">
            <%= f.input :tag_list, as: :string, label: 'Теги', class: "form-control", placeholder: "Введите теги через запятую" %>
          </div>
          <div class="field">
            <%= f.check_box :pin, label: 'Закрепить?' %>
            <b>Закрепить?</b>
          </div>
          <br />
          <%= link_to 'Назад', :back, class: 'btn btn-default' %>
          <%= f.submit 'Сохранить', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>