<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <h3>Заголовок</h3>
    <%= f.text_field :title, size: "50x1"%>
  </div>

  <div class="field">
    <h3>Сообщение</h3>
    <%= f.text_area :content, size: "50x5" %>
  </div>
  <br />

  <div class="row">
    <div class="col-md-2"><%= button_to "Изменить", { action: "update" }, remote: true, form: { "data-type" => "json" }, class: 'btn btn-warning' %></div>
    <div class="col-md-2"><%= link_to "Удалить", post_path(@post) , method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-danger' %></div>
    <div class="col-md-6"></div>
    <div class="col-md-2"><p class='btn btn-default'><%= link_to 'Назад', post_path(@post) %></p></div>
  </div>
  
<% end %>

