<%= simple_form_for(@post) do |f| %>

  <div class="field" >
    <h3>Заголовок</h3>
    <%= f.input :title, label: false, class: "form-control", placeholder: "Заголовок" %>
  </div>

  <div class="field">
    <h3>Сообщение</h3>
    <%= f.input :content, as: :text, label: false, class: "form-control", placeholder: "Сообщение..." %>
  </div>
  <br />
  <p class='btn btn-default'><%= link_to 'Отмена', post_path(@post) %></p>   <%= button_to "Изменить", { action: "update" }, remote: true, form: { "data-type" => "json" }, class: 'btn btn-warning' %><br /><%= link_to "Удалить", post_path(@post) , method: :delete, data: { confirm: "Вы уверены?" }, class: 'btn btn-danger' %>
  
<% end %>