<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <h3>Заголовок</h3>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h3>Сообщение</h3>
    <%= f.text_area :content %>
  </div>
  <br />
  <p class='btn btn-default'><%= link_to 'Назад', posts_path %></p>   <%= button_to "Создать", { action: "create" }, remote: true, form: { "data-type" => "json" }, class: 'btn btn-primary' %>
  
<% end %>

