<%= simple_form_for(Post.new) do |f| %>

  <div class="field" >
    <h3>Заголовок</h3>
    <%= f.input :title, label: false, class: "form-control", placeholder: "Заголовок" %>
  </div>

  <div class="field">
    <h3>Сообщение</h3>
    <%= f.input :content, as: :text, label: false, class: "form-control", placeholder: "Сообщение..." %>
  </div>
  <br />
  <p class='btn btn-default'><%= link_to 'Отмена', posts_path %></p>   <%= button_to "Создать", { action: "create" }, remote: true, form: { "data-type" => "json" }, class: 'btn btn-success' %>
			  
<% end %>
