<p id="notice", style='text-align: center; color: green;'><%= notice %></p>

<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= link_to post.title, post_path(post) %></h2>
  </div>
  <div class="panel-body">
    <%= post.content %>
  </div>
<div class="panel-footer"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> от <%= link_to post.user.email %>&nbsp&nbsp&nbsp   <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= link_to "Комментарии", post_path(post)%> <span class="badge"><%= post.comments.count %></span></div>

</div>
<% end %>
