<p id="notice", style='text-align: center; color: green;'><%= notice %></p>

<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><b><%= post.title %></b></h4>
  </div>
  <div class="panel-body">
    <%= post.content %>
  </div>
<div class="panel-footer"> 

<div class="row">
  <div class="col-md-4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> от <%= link_to post.user.email %></div>
  <div class="col-md-1"></div>
  <div class="col-md-4" align='right'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= link_to "Мне нравится", post_likes_path(post) %> <span class="badge"><%= post.likes %></span></div>
  <div class="col-md-3"><%= link_to "Комментарии", post_path(post)%> <span class="badge"><%= post.comments.count %></span></div>
</div>

</div>

</div>
<% end %>
