<p id="notice", style='text-align: center;'><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @post.title %></div>
  <div class="panel-body">
    <p><%= @post.content %></p>
  </div>

  <!-- Table -->
  <table class="table">
	  <tr class="info">
	  	<th>Создал: <%= link_to @post.user.email %>, <%= @post.created_at.strftime("%d.%m.%Y в %H:%M:%S") %></th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
		  <% if user_signed_in? && current_user.admin %>
		    <th style='text-align: right;'><%= link_to 'Изменить', edit_post_path(@post) %> | <%= link_to "Удалить", post_path(@post), method: :delete %></th>
			<% else %>
				<th></th>
			<% end %>
	  </tr>
		  <% @post.comments.each do |c| %>
		  <tr>
		  	<td><b><%= c.user.email %></b> написал:<br />&nbsp&nbsp&nbsp<%= c.content %></td>
		  	<td></td>
		  	<td></td>
		  	<td></td>
		    <td></td>
			  <% if user_signed_in? && current_user.admin %>
			    <td style='text-align: right;'><br /><%= link_to 'Изменить', edit_post_comment_path(c) %> | <%= link_to "Удалить", post_comment_path(c), method: :delete %></td>
				<% else %>
					<td></td>
				<% end %>
		  </tr>
		  <% end %>
	</table>
</div>



<h2>Написать комментарий: </h2>
<br />
<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="field">
    <%= f.text_field :content %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>

