<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @post.title %></div>
  <div class="panel-body">
    <p><%= @post.content %></p>
  </div>

  <!-- Table -->
  <table class="table">
	  <tr class="info">
	  	<th>Создал: <%= link_to @post.user.email %>	</th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th style='text-align: right;'><%= link_to 'Изменить', edit_post_path(@post) %> | <%= link_to "Удалить", post_path(@post), method: :delete %></th>
	  </tr>
	  <% @post.comments.each do |c| %>
	  <tr>
	  	<td><b><%= c.user.email %></b> написал:<br />&nbsp&nbsp&nbsp<%= c.content %></td>
	  	<td></td>
	  	<td></td>
	  	<td></td>
	    <td></td>
	    <td style='text-align: right;'><br /><%= link_to 'Изменить', edit_post_comment_path(c) %> | <%= link_to "Удалить", post_comment_path(c), method: :delete %></td>
	  </tr>
	  <% end %>
	</table>
</div>


	<%= form_for [@post, @post.comments.build] do |f| %>

		  <div class="field">
	    <%= f.label :content %>
	    <%= f.text_field :content %>
	  </div>

	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
