<p id="notice", style='text-align: center; color: green;' role="alert"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  <!-- Название поста и лейбл -->
  	<div class="row">
  		<div class="col-md-9">
		  	<h4><b><%= @post.title %></b></h4>
		  </div>
		  <div class="col-md-3">
		  	<% if @post.user %>
		  		<% if @post.user.admin %>
		  			<span class="label label-danger">Администрация</span>
		  		<% end %>
		  	<% end %>
		  </div>
		</div>

  </div>
  <div class="panel-body"><p><%= @post.content %></p></div>
  <div class="panel-footer">
  
		<div class="row">
		  <div class="col-md-8"><p class="text-justify"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= if @post.user; link_to @post.user.email; else; "Польз. удален"; end  %> &nbsp&nbsp&nbsp <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= @post.created_at.strftime("%d.%m.%Y в %H:%M:%S") %></p></div>		  
		  <div class="col-md-2"></div>
		  <div class="col-md-2">


		  	<% if user_signed_in? && current_user.admin %>

			    	<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Запись <span class="caret"></span>  </button>
				 			 	  <ul class="dropdown-menu">
				   				  <li><%= link_to 'Изменить', edit_post_path(@post) %></li>
				 				    <li><%= link_to "Удалить пост", post_path(@post), method: :delete, data: { confirm: "Вы уверены?" }, class: "text-warning" %></li>
				  				  <li role="separator" class="divider"></li>
 				   				  <li><%= link_to "Лайки", posts_path %></li>
				  				</ul>
			 

			  <% end %>


			</div>
		</div>

	</div>
</div>	



<div class="panel panel-default">


		<div class="row">
		  <div class="col-md-12" style="padding: 5%;">

			  <% @post.comments.each do |c| %>

			  	<blockquote>
					  <p><%= c.content %></p>
					  <footer>Написал <cite title="Source Title"><b><%= c.user.email if c.user %></b></cite>  <%= c.created_at.strftime("%d.%m.%Y в %H:%M:%S") %>
					
						  <% if user_signed_in? && current_user.admin %>
						    <div class="btn-group">
				  				<button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия <span class="caret"></span>  </button>
				 			 	  <ul class="dropdown-menu">
				   				  <li><%= link_to 'Изменить', edit_post_comment_path(@post, c) %></li>
				 				    <li><%= link_to "Удалить коммент.", post_comment_path(@post,c.id), method: :delete, data: { confirm: "Вы уверены?" }, class: "text-warning" %></li>
				  				  <li role="separator" class="divider"></li>
 				   				  <li><%= link_to "Пользователь", edit_post_comment_path(@post, c) %></li>
				  				</ul>
								</div>
							<% end %>

					  </footer>
					</blockquote>
					<hr>
			  <% end %>

				<% if user_signed_in? %>                             
					<%= render partial: 'comments/new_form' %>
				<% else %>
					<%= link_to "Зарегистрируйтесь", new_user_registration_path, class: 'btn btn-success' %> или <%= link_to "Войдите", new_user_session_path %> чтобы оставлять комментарии
				<% end %>   

		  </div>
		</div>

</div>

