<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default" style="margin: 0%;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>Simply</b>Blog by Vadim</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">        
          <% if user_signed_in? %>
            <%= link_to "Создать пост", new_post_path, class: "btn btn-info navbar-btn" %>
          <% end %>        
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% unless user_signed_in? %>
            <li><%= link_to "Войти", new_user_session_path %></li>
            <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Регистрация", new_user_registration_path %></button></li>
          <% else %>

          <% if user_signed_in? && current_user.admin %>
            <%= link_to "Админ-панель", "/admins/index", class: "btn btn-danger navbar-btn" %>
          <% end %>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вы вошли как <%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a><%= link_to "Моя страница", edit_user_registration_path(current_user) %></a></li>
              <li><a href="#"><%= link_to 'Настройки', new_post_path %></a></li>
              <li role="separator" class="divider"></li>
              <li><a><%= link_to "Выйти", destroy_user_session_path, method: :delete %></a></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Изображение -->
  <div class="container-fluid" style="padding: 0%;">

  <% if @r == 1 %>
    <%= image_tag("bg1.jpg", width: '100%') %>
  <% else %>
    <%= image_tag("bg2.jpg", width: '100%') %>
  <% end %>

 	</div>
  <!-- Конец изображения -->

  <!-- ТЕЛО САЙТА -->
  <div class="container">
    <div class="row">

      <!-- ЦЕНТРАЛЬНАЯ ЧАСТЬ -->
      <div class="col-md-12" style="padding: 35px;">
        <body>
          <%= yield %>
        </body>
      </div>
      <!-- конец центральной части -->


    </div>
  </div>
  <!-- Конец тела сайта -->

  <hr>
  <p class="text-muted; text-center"><b>SimpleBlog</b>, 2016. All rights reserved. Created by <b>Vadim</b> on RoR </p>
  <br />


	</div>
</html>
