<!DOCTYPE html>
<html>
  <head>
    <title>SimplyBlog by Vadim</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><b>Simply</b>Blog by Vadim</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">        
          <% if user_signed_in? %>
            <%= link_to "Создать пост", new_post_path, class: "btn btn-info navbar-btn" %>
          <% end %>        
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <% unless user_signed_in? %>
            <li><%= link_to "Войти", new_user_session_path %></li>
            <li><button type="button" class="btn btn-default navbar-btn"><%= link_to "Регистрация", new_user_registration_path %></button></li>
          <% else %>

          <% if user_signed_in? && current_user.admin %>
            <%= link_to "Админ-панель", "/admins/index", class: "btn btn-danger navbar-btn" %>
          <% end %>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вы вошли как <%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a><%= link_to "Моя страница", edit_user_registration_path(current_user) %></a></li>
              <li role="separator" class="divider"></li>
              <li><a><%= link_to "Выйти", destroy_user_session_path, method: :delete %></a></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Тело сайта -->
  <div class="container">
    <div class="row">

      <div class="col-md-3" style="padding: 4%">

        <!-- Сайдбар -->
        <div class="col-md-12">

          <a href="/" class="list-group-item active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Главная</a>
          <ul class="list-group">
          <!-- Если залогинен -->
            <% if user_signed_in? %>
              <% if current_user.posts.count > 0 %>
                <a href="/my_posts" class="list-group-item">Мои публикации<span class="badge"><%= current_user.posts.count %></span></a>
              <% end %>
              <% if current_user.comments.count > 0 %>
                <a href="#" class="list-group-item">Комментарии<span class="badge"><%= current_user.comments.count %></span></a>
              <% end %>
              <a href="/users/edit" class="list-group-item">Профиль</a>
            <% end %>
          </ul>
          <!-- Конец логин-бара -->
          <ul class="list-group">
            <a href="http://vk.com/v.rtsev" class="list-group-item">Поддержка</a>
            <a href="/about" class="list-group-item">О сайте</a>
          </ul>
        </div>
        <!-- Конец сайдбара -->

      </div>

      <div class="col-md-7" style="padding: 35px;">
        <body>
          <%= yield %>
        </body>
      </div>

      <div class="col-md-2" style="padding: 4px">
      </div>

    </div>
  </div>
  <!-- Конец тела сайта -->

  <hr>
  <p class="text-muted; text-center"><b>SimplyBlog</b>, 2016. All rights reserved. Created by <b>Vadim</b> on RoR </p>
  <br />


	</div>
</html>
