<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/application/navbar' %>

    <div class='container'>
      <div class='row'>
        <div class='col-md-1'></div>
        <div id='layout-sidebar' class='col-md-3 col-sm-4'>
          <%= render partial: 'layouts/profile/sidebar' %>
        </div>
        <div id='content' class='col-md-6 col-sm-8'>
          <%= yield %>
        </div>
        <div class='col-md-2'></div>
      </div>

      <hr>
      <p class="text-muted; text-center"><b>SimplyBlog</b>, 2016. All rights reserved. Created by <b>Vadim</b> on RoR </p>
      <br />
    </div>
  </body>
</html>
